<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forensic Tool</title>
</head>
<body>
    <h1>Forensic Tool</h1>
    
    <h2>Upload an Image</h2>    
    
    <form id="file-upload-form" action="/home" method="POST" enctype="multipart/form-data">
    	<input type="file" name="file" accept=".dd,.raw">
    	<button type="submit" id="file-upload-button">Upload File</button>
    </form>
    
    <div id="upload-banner" style="display: none;">
    	File uploaded successfully
    </div>
    
    <form id="image-info-form" action="/execute" method="POST">
        <input type="hidden" name="action" value="img_stat">
        <button type="submit" id="image-info-button">Image Information</button>
    </form>

    <form id="partition-info-form" action="/execute" method="POST">
        <input type="hidden" name="action" value="mmls">
        <button type="submit" id="partition-info-button">Partition Information</button>
    </form>

    <form id="fls-form" action="/execute" method="POST">
	    <input type="hidden" name="action" value="fls">
	    <label for="offset">Offset:</label>
	    <input type="text" id="offset" name="offset" required>
	    <button type="submit" id="fls-button">Files and Directories</button>
    </form>
    
    <form id="fsstat-form" action="/execute" method="POST">
	    <input type="hidden" name="action" value="fsstat">
	    <label for="offset">Offset:</label>
	    <input type="text" id="offset" name="offset" required> 
	    <button type="submit" id="fsstat-button">Files System Information</button>
    </form>
    
    <form id="ils-form" action="/execute" method="POST">
	    <input type="hidden" name="action" value="ils">
	    <label for="offset">Offset:</label>
	    <input type="text" id="offset" name="offset" required>
	    <button type="submit" id="ils-button">Inode Information</button>
    </form>
    
    <form id="jpeg_extract-form" action="/execute" method="POST">
	    <input type="hidden" name="action" value="jpeg_extract">
	    <label for="folder">Folder:</label>
	    <input type="text" id="folder" name="folder" required>
	    <button type="submit" id="jpeg_extract-button">Enter Path of folder for jpeg images to be stored:</button>
    </form>
    
    <form id="stringsearch-form" action="/execute" method="POST">
	    <input type="hidden" name="action" value="stringsearch">
	    <label for="offset">Offset:</label>
	    <input type="text" id="offset" name="offset" required>
	    <label for="searchString">Search String:</label>
	    <input type="text" id="searchString" name="searchString" required>
	    <button type="submit" id="stringsearch-button">String Search</button>
    </form>


    <div id="output-container"></div>

    <button type="button" id="home-button">Home</button>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
        
            const imageInfoButton = document.getElementById('image-info-button');
            const partitionInfoButton = document.getElementById('partition-info-button');
            const flsButton = document.getElementById('fls-button');
            const fsstatButton = document.getElementById('fsstat-button');
            const ilsButton = document.getElementById('ils-button');
            const jpeg_extractButton = document.getElementById('jpeg_extract-button');
            const stringsearchButton = document.getElementById('stringsearch-button');
            const homeButton = document.getElementById('home-button');
            
            const outputContainer = document.getElementById('output-container');
            const uploadBanner = document.getElementById('upload-banner');
            
            const imageInfoForm = document.getElementById('image-info-form');
            const partitionInfoForm = document.getElementById('partition-info-form');
            const flsForm = document.getElementById('fls-form');
            const fsstatForm = document.getElementById('fsstat-form');
            const ilsForm = document.getElementById('ils-form');
            const jpeg_extractForm = document.getElementById('jpeg_extract-form');
            const stringsearchForm = document.getElementById('stringsearch-form');
            
            function displayUploadBanner() {
                uploadBanner.style.display = 'block';
                setTimeout(function() {
                    uploadBanner.style.display = 'none';
                }, 50000); // Hide the banner after 5 seconds (you can adjust the duration).
            }
            
            function displayOutput(output) {
                outputContainer.innerHTML = output;
            }
            
            const fileUploadForm = document.getElementById('file-upload-form');
		fileUploadForm.addEventListener('submit', async function (event) {
		    event.preventDefault(); // Prevent the default form submission
		    const formData = new FormData(fileUploadForm);

		    try {
			const response = await fetch('/home', {
			    method: 'POST',
			    body: formData,
			});

			if (response.ok) {
			    // File was successfully uploaded
			    displayUploadBanner();
			} else {
			    // Handle errors here
			    outputContainer.innerText = 'Error: ' + response.statusText;
			}
		    } catch (error) {
			outputContainer.innerText = 'Error: ' + error.message;
		    }
		});
            

            imageInfoForm.addEventListener('submit', function (event) {
                event.preventDefault(); // Prevent the default form submission

                // Make an AJAX request to execute the img_stat function
                fetch('/execute', {
                    method: 'POST',
                    body: new FormData(imageInfoForm),
                })
                .then(response => response.text()) // Use text() instead of json()
                .then(data => {
                    displayOutput(data);
                })
                .catch(error => {
                    outputContainer.innerText = 'Error: ' + error.message;
                });
            });

            partitionInfoForm.addEventListener('submit', function (event) {
                event.preventDefault(); // Prevent the default form submission

                // Make an AJAX request to execute the mmls function
                fetch('/execute', {
                    method: 'POST',
                    body: new FormData(partitionInfoForm),
                })
                .then(response => response.text()) // Use text() instead of json()
                .then(data => {
                    displayOutput(data);
                })
                .catch(error => {
                    outputContainer.innerText = 'Error: ' + error.message;
                });
            });
            
            flsForm.addEventListener('submit', function (event) {
                event.preventDefault(); // Prevent the default form submission

                // Make an AJAX request to execute the mmls function
                fetch('/execute', {
                    method: 'POST',
                    body: new FormData(flsForm),
                })
                .then(response => response.text()) // Use text() instead of json()
                .then(data => {
                    displayOutput(data);
                })
                .catch(error => {
                    outputContainer.innerText = 'Error: ' + error.message;
                });
            });

            fsstatForm.addEventListener('submit', function (event) {
                event.preventDefault(); // Prevent the default form submission

                // Make an AJAX request to execute the mmls function
                fetch('/execute', {
                    method: 'POST',
                    body: new FormData(fsstatForm),
                })
                .then(response => response.text()) // Use text() instead of json()
                .then(data => {
                    displayOutput(data);
                })
                .catch(error => {
                    outputContainer.innerText = 'Error: ' + error.message;
                });
            });
            
            ilsForm.addEventListener('submit', function (event) {
                event.preventDefault(); // Prevent the default form submission

                // Make an AJAX request to execute the ils function
                fetch('/execute', {
                    method: 'POST',
                    body: new FormData(ilsForm),
                })
                .then(response => response.text()) // Use text() instead of json()
                .then(data => {
                    displayOutput(data);
                })
                .catch(error => {
                    outputContainer.innerText = 'Error: ' + error.message;
                });
            });
            
            jpeg_extractForm.addEventListener('submit', function (event) {
                event.preventDefault(); // Prevent the default form submission

                // Make an AJAX request to execute the jpeg_extract function
                fetch('/execute', {
                    method: 'POST',
                    body: new FormData(jpeg_extractForm),
                })
                .then(response => response.text()) // Use text() instead of json()
                .then(data => {
                    displayOutput(data);
                })
                .catch(error => {
                    outputContainer.innerText = 'Error: ' + error.message;
                });
            });
            
            stringsearchForm.addEventListener('submit', function (event) {
            	event.preventDefault(); // Prevent the default form submission

            	// Make an AJAX request to execute the stringsearch function
            	fetch('/execute', {
                	method: 'POST',
                	body: new FormData(stringsearchForm),
            	})
            	.then(response => response.text())
            	.then(data => {
                	displayOutput(data);
            	})
            	.catch(error => {
                	outputContainer.innerText = 'Error: ' + error.message;
           	 });
            });


            homeButton.addEventListener('click', function () {
                // Navigate back to the home page ("/")
                window.location.href = '/';
            });
        });
    </script>
</body>
</html>
